body{
    margin: 0;
}

@media (min-width:767px) {
   .container {
    display: flex;
    margin-bottom: 50px;
    
}
.cart {
    width: 33%;
    margin:30px 20px;
}
.img{
    width: 100%;
}

button{
    width: 100% ;
    margin-top: 20px;
    font-size: medium;
    background-color: indianred;
    border: none;
    color:  darkslategrey;
    border-radius: 4px;
    height: 30px;
 
}

.img1 {
    width: 30px;
    height: 30px;
    margin-right:5px;

}
@media (max-width:760px) {
    .container{
    flex-direction: column;
    align-items: center;
    }   
}
/* @media (max-width:768px) {
    .cart{
        width: 260px;
    }
} */

.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box  ;   
}
footer{
    position: fixed; 
    width: 100%;
    font-size: 10px;
    background-color: lightgrey;
    color: #666;
    font-weight: 500;
    bottom:0;
}
a{
    text-decoration: none;
}
}

@media screen and (min-width:601px) and (max-width:767px) {
    
    .cart{ 
        width: 150px;
    }
    
}